<div id="mobile-menu" class="md:hidden hidden bg-ts-blue-dark shadow-lg">
    <nav class="flex flex-col items-center">
        <a href="#" class="block w-full text-center hover:bg-ts-blue px-4 py-3 text-sm font-medium">الصفحة الرئيسية</a>
        <a href="#" class="block w-full text-center hover:bg-ts-blue px-4 py-3 text-sm font-medium">عنا</a>
        <a href="#" class="block w-full text-center bg-ts-blue text-ts-gold font-semibold px-4 py-3 text-sm">العازل الحراري للسيارات</a>
        <a href="#" class="block w-full text-center hover:bg-ts-blue px-4 py-3 text-sm font-medium">أفلام حماية الطلاء</a>
        <a href="#" class="block w-full text-center hover:bg-ts-blue px-4 py-3 text-sm font-medium">افلام الحماية الملونة</a>
    </nav>
</div>